
#actions-menu{
    align-items: stretch;
}

.logo-menu{
    padding: 30px;
}

#section-search img{
    margin-top: 20px;
}

#section-login img{
    margin-top: 10px
}
#section-login {
    background-color: #ffffff;
    background: #ffffff;

}


.nav-link:hover{
    font-weight: bolder;
    border-bottom: 3px solid #09344b; 
    border: 3px;
    margin: 1px;
}
.nav-link {
    font-weight: bolder;
   
}

#conteudo h1{
    color: #5c0f8b;
    font-weight: bolder;
    font-size: 70px;
}

#conteudo h2{
    padding: 1.5%;
    font-size: 2.2em;
    font-weight: bolder;
    color: #5c0f8b;
    font-size: 40px;
}
#segundo{
    margin-top: 100px;
}
h5{
    padding: 1%;
    font-size: 2.2em;
    font-weight: bolder;
    color: #5c0f8b;
    font-size: 40px;
}

p{
    padding: 1%;
    font-size: 2.2em;
    color: #656565;
    font-size: 15px;
}
.btn {
    background-color:#5c0f8b;
    color: #f16223;
    font-size: 20px;
    font-weight: bolder;
    border-color:#5c0f8b;
}
.btn:hover{
    background-color:#f16223;
    color: #ffffff;
    font-size: 20px;
    border-color: #f16223;
    font-weight: bolder;
}

#conteudo button{
    margin-top: 40px;
}
.extra-navegation{
    margin-right: 10px;
    margin-left: 10px;
}

.extra-navegation a{
font-weight: bold;
font-size: 20px;
text-decoration: none;
color: black;
}
.extra-navegation a:hover{
    color: #fff;
    transition: color .3s ease;
}
.extra-navegation a i{
    font-size: 50px;
}
.extra-navegation svg{
    font-size: 50px;
}

#App{
    background-color:#5c0f8b;
    width: 100%;
    height: 400px;
}

#App h2{
    padding: 1.5%;
    font-size: 2.2em;
    font-weight: bolder;
    color: #f16223;
    font-size: 40px;
    margin-top: 60px;
    margin-left: 200px;
}

#App p{
    padding: 1.5%;
    font-size: 2.2em;
    font-weight: bolder;
    color: #ffffff;
    font-size: 20px;
    width: 600px;
    top: 1px;
    margin-left: 200px;
}
#App img{
    float: right;
    flex: none;
    margin-top: 10px;
    margin-right: 200px;
    padding: 1.5%;
    font-size: 2.2em;
}
#cot-footer{
   background-color:#5c0f8b;
   margin-top: 1px;
   color: #f16223;
}

#mudanca{
    margin-left: 150px;
}

#mudanca h2{
    padding: 1.5%;
    font-size: 2.2em;
    font-weight: bolder;
    color: #5c0f8b;
    font-size: 40px;
    margin-left: 200px;
}
#mudanca button{
    width: 400px;
    background-color:#5c0f8b;
    color: #f16223;
    font-weight: bolder;
    border-color:#5c0f8b;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    
}
#mudanca button:hover{
background-color:#f16223;
color: #ffffff;
border-color: #f16223;
font-weight: bolder;
}

#card-fone{
    width: 800px;
    height: 90px;
}
#card-fone h5{
    padding: 1%;
    font-size: 2.2em;
    font-weight: bolder;
    color: #fbfbfa;
    font-size: 26px;
}
